@{
    ViewData["Title"] = "Fibonacci";
}

<nav id="page-options">
    <ul>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="20">20</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="50">50</a></li>
        <li><a asp-controller="Home" asp-action="Fibonacci" asp-route-max="100">100</a></li>
    </ul>
</nav>

<ul id="fibonacci">

    @{int num = Convert.ToInt32(ViewData["max"]);

        int number1 = 1;
        int number2 = 1;
        int number3 = 2;

        <li>@number1 </li>
        <li>@number2 </li>

        while (number3 < num - number1)
        {
            number3 = number1 + number2;
            number1 = number2;
            number2 = number3;
            <li>@number3 </li>

        }
    }
</ul>