@model Actor
@{
    ViewData["Title"] = "Index";
}

<h2>Actor Search</h2>


<form method="get" asp-controller="Actors" asp-action="Search">
    <table>
        <tr>
            <td><label asp-for="LastName">Last Name:</label></td>
            <td><input type="text" asp-for="LastName" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Search" /></td>
        </tr>
    </table>
</form>

<h2>Search Results</h2>
<partial name="_ActorList" model="Model.Actors" />