
@{
    ViewData["Title"] = "Index";
}

<form method="get" action="~/films/SearchResult">
            <p>Minimum Length:</p>
            <p>Maximum Length:</p>
            <p>Genre</p>
            <br />
            <input type="text" id="minLength" />
            <input type="text" id="maxLength" />
            <input type="text" id="genre" />
            <br />
            <input type="submit" value="Search" />
</form>

