:root {
    --blue: #00adee;
    --grey: #505355;
}
  
* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    height: 100%
}

body {
    margin-left: 8%;
    margin-right: 8%;
}


#student-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    grid-template-areas: 
    "student-quote student-quote student-picture"
    "student-profile student-profile student-contact"
    "experience experience experience";
}


#te-logo{
    width: 300px;
}

#student-profile{
    grid-area: student-profile;
}

#student-quote{
    grid-area: student-quote;
    color: var(--grey);
    font-weight: bold;
    font-size: 20px;
    padding-top: 10%;
}

#student-contact{
    grid-area: student-contact;
    text-align: center;
    font-style: italic;
    color: var(--grey);
}

#student-picture{
    grid-area: student-picture;
}

#student-picture img{
    border-radius: 50%;
    width: 300px;
    align-self: center;
}

#experience{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    grid-area: experience;
}

#experience div{
    width: 33%;
    padding: 0 1em;
}

#experience h3{
    color: var(--blue);
}

.headline{
    color: var(--grey);
    font-size: 70px;
    margin: 0;
}