@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Index";
}

<form method="get" action="~/customers/SearchResult">
    <label for="search">Name: </label>
    <input type="text" name="search" id="search" />
    <label for="sortBy">Sort By: </label>
    <select name="sortBy" id="sortBy">
        <option value="last_name">Last Name</option>
        <option value="email">E-Mail</option>
        <option value="active">Active</option>
    </select>
    <br />
    <input type="submit" value="Search" />
</form>

